language: node_js
node_js:
  - "12"
cache: yarn

env:
  global:
    - GIT_NAME="uikenshoo"
    - GIT_EMAIL="ui@kenshoo.com"

script:
  - export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
  - yarn prettier
  - yarn test
  - yarn build
  - if [ "$BRANCH" == "master" ];
    then
      yarn workspace @kenshooui/react-tree-docs chromatic --auto-accept-changes;
    elif [[ $TRAVIS_EVENT_TYPE != 'pull_request' ||  $TRAVIS_PULL_REQUEST_SLUG != $TRAVIS_REPO_SLUG ]];
    then
      yarn workspace @kenshooui/react-tree-docs chromatic;
    fi

before_deploy:
  - git config --local user.name "${GIT_NAME}"
  - git config --local user.email "${GIT_EMAIL}"

deploy:
  - provider: script
    script: yarn workspace @kenshooui/react-tree release
    skip-cleanup: true
    on:
      all_branches: true